{% extends 'base.html' %}

{% block css %}

  <link href="/blog{{ url_for('static', filename='css/reset_password.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="form_page">
        <div class="reset_form">
            <div class="header">
                Change Password
            </div>

            <form class="form_content" method="POST">

                {{Passwordform.hidden_tag()}}
        
                <fieldset>
                    {{ Passwordform.new_password.label }}
                    {{ Passwordform.new_password }}
                    {% if Passwordform.new_password.errors %}
                        <ul class="errors">
                        {% for error in Passwordform.new_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{ Passwordform.confirm_password.label }}
                    {{ Passwordform.confirm_password }}
                    {% if Passwordform.confirm_password.errors %}
                        <ul class="errors">
                        {% for error in Passwordform.confirm_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    <label for="show_password"> Show Password</label>
                    <input type="checkbox" name="show_password" id="show_password" class="show_password">
                </fieldset>
        
                {{ Passwordform.submit }}
            </form>
        </div>
    </div>

    <script>
        var checkbox  = document.getElementById('show_password');
        var x1 = document.getElementById('new_password');
        var x2 = document.getElementById('confirm_password')
        checkbox.addEventListener('change', function() {
            if(this.checked) {
                x1.type = 'text';
                x2.type = 'text';
            } else {
                x1.type = 'password';
                x2.type = 'password';
            }
        });
    </script>

{% endblock %}