{% extends 'base.html' %}

{% block css %}

  <link href="{{ url_for('blog_bp.static', filename='css/update_settings.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">
    <div class="settings">

        <div class="content">
            <h3>Update Settings</h3>

            <form >
                {{SettingsForm.hidden_tag()}}

                <fieldset>
                    {{SettingsForm.upload_resume.label}}
                    {{SettingsForm.upload_resume}}
                    <a href="http://">
                        <small class="view">
                            View Resume
                        </small>
                    </a>
                    {% if SettingsForm.upload_resume.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.upload_resume.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{SettingsForm.resume_image.label}}
                    {{SettingsForm.resume_image}}
                    <a href="http://">
                        <small class="view">
                            View Image
                        </small>
                    </a>
                    {% if SettingsForm.resume_image.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.resume_image.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{SettingsForm.name.label}}
                    {{SettingsForm.name}}
                    {% if SettingsForm.name.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{SettingsForm.twitter_link.label}}
                    {{SettingsForm.twitter_link}}
                    {% if SettingsForm.twitter_link.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.twitter_link.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{SettingsForm.linkedin_link.label}}
                    {{SettingsForm.linkedin_link}}
                    {% if SettingsForm.linkedin_link.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.linkedin_link.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{SettingsForm.github_link.label}}
                    {{SettingsForm.github_link}}
                    {% if SettingsForm.github_link.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.github_link.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    {{SettingsForm.email.label}}
                    {{SettingsForm.email}}
                    {% if SettingsForm.email.errors %}
                        <ul class="errors">
                        {% for error in SettingsForm.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    <button class="save_settings" id="save_settings">
                        Save Settings
                    </button>
                </fieldset>
            </form>

        </div>

    </div>
</div>

<script src="{{url_for('blog_bp.static', filename='js/update_settings.js')}}"></script>
{% endblock %}