.form_page{
    width: 100%;
    height: 100vh;
    background-color: #E4E9F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.reset_form{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    width: 500px;
    min-width: 300px;
}

.reset_form .header{
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #E4E9F7;
}

fieldset{
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    border: none;
}

fieldset label{
    font-size: 11px;
    color: seagreen;
    font-weight: 900;
    padding: 0 5px;
}

fieldset input{
    margin-top: 10px;
    padding: 0 5px;
    line-height: 1.6rem;
    border: none;
    border-bottom: 2px solid #E4E9F7;
}

fieldset input:focus-visible{
    border: none;
    border-bottom: 2px solid seagreen;
    outline: none;
}

input[type="submit"]{
    height: 40px;
    width: 100%;
    border: 2px solid seagreen;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}
